*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    height: 100vh;
}

nav{
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: #00FA9A;
}

.container{
    flex-direction: column;
    width: 100vw;
    display: flex;
}

header{
    background-color: #00FF7F;
    height: 350px;
}

main{
    height: 100vw;
    background-color: #98FB98;
}

footer{
    background-color: #90EE90;
    height: 350px;
}